<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyTrackedDataTypes</key>
	<array>
		<string>NSPrivacyTrackedDataTypeOtherUserInput</string>
	</array>
	<key>NSPrivacyTrackedDataCollected</key>
	<array>
		<dict>
			<key>NSPrivacyTrackedDataType</key>
			<string>NSPrivacyTrackedDataTypeOtherUserInput</string>
			<key>NSPrivacyTrackedDataLinked</key>
			<false/>
			<key>NSPrivacyTrackedDataLinkedTracking</key>
			<false/>
			<key>NSPrivacyTrackedDataCategory</key>
			<array>
				<string>NSPrivacyTrackedDataCategoryAppFunctionality</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyCollectedDataTypes</key>
	<array>
		<dict>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeDeviceID</string>
			<key>NSPrivacyCollectedDataTypeLinked</key>
			<false/>
			<key>NSPrivacyCollectedDataTypeTracking</key>
			<false/>
			<key>NSPrivacyCollectedDataTypePurposes</key>
			<array>
				<string>NSPrivacyCollectedDataTypePurposeAppFunctionality</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeOtherUserInput</string>
			<key>NSPrivacyCollectedDataTypeLinked</key>
			<false/>
			<key>NSPrivacyCollectedDataTypeTracking</key>
			<false/>
			<key>NSPrivacyCollectedDataTypePurposes</key>
			<array>
				<string>NSPrivacyCollectedDataTypePurposeAppFunctionality</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyTrackingDomains</key>
	<array/>
	<key>NSPrivacyTrackingEnabled</key>
	<false/>
	<key>NSThirdPartyIsSharingUserData</key>
	<true/>
</dict>
</plist>
